/* html {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #151522; 
  overflow: auto;
} */

.background-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220vh;
  z-index: -1;
}

.background1, .background2 {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background1 {
  background-image: url('../images/bg.png');
}

.background2 {
  background-image: url('../images/Frame2.svg');
}

body {
  height: 2000px;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #151522; 
}

nav {
  background: #151522; 
  color: white;
  display: flex; 
  top: 0;
  left: 0;
  width: 100%; 
  width: 1620px;
  height: 50px;
  position: fixed;
  backdrop-filter: blur(20px); /* Apply a blur effect */
  background-color: rgba(21, 21, 34, 0.7); /* Semi-transparent background */
  z-index: 5;
}

nav ul {
  align-items: center;
  display: flex;  
  list-style: none;
  margin: 10px;
  padding: 0;  
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  font-family: "Noto Sans-Light", Helvetica;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

button {
  color: #A4D048;
  padding: 0.3em 1em; /* Reduced vertical padding */
  font-size: 18px;  
  height: 40px;
  margin-top: 5px;
  margin-left: 915px;
  border-radius: 0.5em;
  background: #1e1e30;
  cursor: pointer;
  border: 1px solid #151522;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #0d0d15, -6px -6px 12px #1d1d2f;  
}

button:active {
  color: #121220;
  box-shadow: inset 4px 4px 12px #0d0d15, inset -4px -4px 12px #1d1d2f;  
}

.box {
  width: 1350px;
  height: 720px;
}

.box .group {
  position: relative;
  width: 1924px;
  height: 1080px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1920px;
  height: 1080px;
  /* background-image: url(../images/portfolio.svg); */
  background-size: 100% 100%;
}

.box .TO-MY {
  position: absolute;
  width: 49px;
  top: 280px;
  left: 530px;
  font-family: "Noto Sans-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper {
  position: absolute;
  width: 590px;
  top: 120px;
  left: 360px;
  font-family: "Noto Sans-DisplayBlack", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 130px;
  letter-spacing: 0;
  line-height: normal;
}

.box .portfolio {
  position: absolute;
  width: 600px;
  height: 170px;
  top: 220px;
  left: 560px;
}

.box .arrow{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 230px;
  left: 160px;

}

.introduction {
  width: 758px;
  height: 192px; 
  position: absolute;
  left: 360px;
  top: 410px;
  text-align: center;
}

.name {
  color: white;
  font-size: 24px;
  font-family: "Noto Sans-DisplayBlack", Helvetica;
  font-weight: 700;  
  word-wrap: break-word;
}

@font-face {
  font-family: 'MyFont';
  src: url('../DancingScript.ttf') format('woff2'), 
       url('../DancingScript.ttf') format('woff'); 
}

.fullname { 
    background: linear-gradient(90deg, #FF61DC 50.86%, #8FFF00 73.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'MyFont', cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

.tagline {
  color: white;
  font-size: 24px;
  font-family: "Noto Sans-DisplayBlack", Helvetica; 
  font-weight: 700;
  word-wrap: break-word;  
}

.title {
  color: white;
  font-size: 24px;
  font-family: "Noto Sans-DisplayBlack", Helvetica;
  font-style: italic; 
  font-weight: 700;   
  text-decoration: underline; 
  word-wrap: break-word;
  margin-right: 3px;
}

.conjunction {
  color: white;
  font-size: 24px;
  font-family: "Noto Sans-DisplayBlack", Helvetica;
  font-weight: 700;
  word-wrap: break-word;  
  margin-right: 3px; 
}


.group-1 {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 500px;
  color: #ccc; 
  font-size: 26px; 
  font-family: 'MyFont', cursive;
  font-weight: 400; 
  /* text-transform: uppercase; */
  word-wrap: break-word;
}



@media screen and (max-width: 768px) {
  .box .TO-MY {
      font-size: 20px;
      top: 220px;
      left: 50px;
  }

  .box .text-wrapper {
      font-size: 90px;
      top: 100px;
      left: 20px;
  }

  .box .portfolio {
      width: 300px;
      height: 100px;
      top: 180px;
      left: 100px;
  }
}